// :host ::ng-deep {
//     .product-item {
//         .product-item-content {
//             border: 1px solid var(--surface-d);
//             border-radius: 3px;
//             margin: .3rem;
//             text-align: center;
//             padding: 2rem 0;
//         }
    
//         .product-image {
//             width: 60%;
//             box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
//         }
//     }
// }
.bbb{
    // border: 1px solid var(--surface-d);
   transform: scale(1.2);
   border-radius: 3px;
   margin: 2px;
}
.tag{
    transform: scale(1.2);
    // margin-top: 100%;
    

}
