/* .wrap{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background-color: blue;
} */
/* .container mt-3{ */
  /* background-color: blueviolet;
  width: 18rem; */
/* } */

/* .card{

} */
/* .aaa{
  padding: 8px 8px;
        border: 1px solid #917486;
        background-color: #ff00a2;
        border-radius: 4px;
        width: 125px;
        text-align: center;
        direction: rtl;
        margin: 5px;
} */